* {
	-fx-font-family: "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", "游ゴシック", sans-serif;
	-fx-font-size: 16px;
}
.urlField {
	-fx-max-width: 2147483647px;
}
.searchField {
	-fx-pref-width: 12em;
	-fx-min-width: 12em;
	-fx-max-width: 12em;
}
.favoriteTreeTabPane {
	-fx-pref-width: 24em;
}

.toggle:selected {
	-fx-background-color: yellow;
}

/* boardView */
.boardView_hasLog {
	-fx-pref-width: 1.5em;
}
.boardView_number {
}
.boardView_title {
	-fx-pref-width: 50em;
}
.boardView_resCount {
}
.boardView_newCount {
}
.boardView_logCount {
}
.boardView_buildTime {
	-fx-pref-width: 10em;
}
.boardView_lastRes {
	-fx-pref-width: 10em;
}
.numberColumn {
	-fx-pref-width: 4em;
}
.rightColumn {
	-fx-alignment: CENTER-RIGHT;
}

/* treeView */
.treeView_favorite {
	-fx-border-color: #ffffff #ffffff #ffffff #ffffff;
}
.treeView_insertTop {
	-fx-border-color: #c0c000 #ffffff #ffffff #ffffff;
}
.treeView_insertBottom {
	-fx-border-color: #ffffff #ffffff #c0c000 #ffffff;
}

/* SearchView */
.searchView_gridpane {
	-fx-width: 100%;
	-fx-padding: 1.25em;
	-fx-hgap: 1.25em;
	-fx-vgap: 1.25em;
}
